.border-bottom{
    border-bottom: 1px solid $black;
}
.border-bottom-light{
    border-bottom: 1px solid $white;
}
.border-left{
    border-left: 1px solid $light-primary;
}
.border-left-light{
    border-left: 1px solid $white;
}