.brand-logo{
    width: 111px;
    height: 40px;
    display: block;
    background-image: url('https://hexschool.github.io/boootstrap5WebLayout/assets/logo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}
.sponsor-logo{
    display: block;
    width: 43px;
    height: 36px;
    margin: 0 auto;
}