@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import "./bootstrap/bootstrap.scss";
@import "callout.scss";
@import "box.scss";
@import "tips.scss";
@import "index.scss";
