@import "bootstrap/bootstrap.css";

.bg-header{
    padding-top: 356px;
    padding-bottom: 268px;
    background-image: url('https://github.com/vvvvvvii/layout-practice/blob/main/day05/img/photo-1552393700-42696fb89bfa.png?raw=true');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.section{
        padding-top: 64px;
        text-align: center;
        font-style: italic;
    &-sm,&-lg{
        padding-top: 64px;
        text-align: center;
        font-style: italic;
    }
    &-sm{
        padding-bottom: 80px;
    }
    &-lg{
        padding-bottom: 160px;
    }
}