.banner {
  height: 394px;
  background-image: url("https://github.com/vvvvvvii/layout-practice/blob/main/day06/img/laurenz-kleinheider-OsC8HauR0e0-unsplash.jpg?raw=true");
  background-size: cover;
  padding: 164px 0;
  @media (min-width: $grid-md) {
    height: 840px;
    padding: 372px 0;
  }
  @media (min-width: $grid-lg) {
    padding: 350px 0;
  }
}
.bg-optical,
.bg-sunglass,
.bg-functional {
  background-position: center;
  background-size: cover;
  padding: 48px 0;
}
.bg-optical {
  background-image: url("https://github.com/vvvvvvii/layout-practice/blob/main/day06/img/product-1.png?raw=true");
}
.bg-sunglass {
  background-image: url("https://github.com/vvvvvvii/layout-practice/blob/main/day06/img/product-2.png?raw=true");
}
.bg-functional {
  background-image: url("https://github.com/vvvvvvii/layout-practice/blob/main/day06/img/product-3.png?raw=true");
}
.bg-flagship-product {
  background-image: url("https://github.com/vvvvvvii/layout-practice/blob/main/day06/img/nick-owuor-astro-nic-visuals-54Q_HvMWtVE-unsplash.jpg?raw=true");
}
.bg-dblA,
.bg-youth {
  background-position: center;
  background-size: cover;
  padding: 120px 0;
  display: block;
  @media (min-width: $grid-md) {
    padding: 118px 0;
  }
  @media (min-width: $grid-lg) {
    padding: 188px 0;
  }
  &:hover {
    opacity: 0.8;
  }
}
.bg-dblA {
  background-image: url("https://github.com/vvvvvvii/layout-practice/blob/main/day06/img/oladimeji-odunsi-Wu3yqve2gnc-unsplash.jpg?raw=true");
}
.bg-youth {
  background-image: url("https://github.com/vvvvvvii/layout-practice/blob/main/day06/img/thiago-carlos-machado-oNXGsD7Ibsk-unsplash.jpg?raw=true");
}
.bg-user1,
.bg-user2,
.bg-user3,
.bg-user4 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-user1 {
  background-image: url("https://github.com/vvvvvvii/layout-practice/blob/main/day06/img/joseph-frank-YpBEA28Thos-unsplash.jpg?raw=true");
}
.bg-user2 {
  background-image: url("https://github.com/vvvvvvii/layout-practice/blob/main/day06/img/fotografierende-OIdeMsvPtFc-unsplash.jpg?raw=true");
}
.bg-user3 {
  background-image: url("https://github.com/vvvvvvii/layout-practice/blob/main/day06/img/marketa-marcellova-gbih2R2skmQ-unsplash.jpg?raw=true");
}
.bg-user4 {
  background-image: url("https://github.com/vvvvvvii/layout-practice/blob/main/day06/img/etty-fidele-nWdhpUrXxYY-unsplash.jpg?raw=true");
}
