.sub-nav {
  display: flex;
  justify-content: center;
  &-item {
    width: 33.333333%;
  }
  &-link {
    display: block;
    padding: 8px 0;
    border: 1px solid $deep-light;
    color: $dark;
    font-size: 14px;
    text-align: center;
    @media (min-width: $grid-md) {
      font-size: 28px;
      padding: 16px 0;
    }
    @media (min-width: $grid-lg) {
      font-size: 42px;
      padding: 24px 0;
    }
  }
  &-icon {
    font-size: 15px;
    margin-right: 4px;
    @media (min-width: $grid-md) {
      font-size: 32px;
      margin-right: 8px;
    }
    @media (min-width: $grid-lg) {
      font-size: 48px;
    }
  }
}
