//colors
$primary: #AA0601;
$secondary: #FBF2F2;
$dark: #111619;
$light: #FFFFFF;

$colorTypes: (
    primary: #AA0601,
    secondary: #FBF2F2,
    dark: #111619,
    light: #FFFFFF,
) !default;

//font-sizes
$baseSize: 16px;
$fontTypes: (
    1: .875,
    2: 1,
    3: 1.125,
    4: 1.25,
    5: 1.5,
    6: 1.75,
    7: 2,
    8: 2.25,
    9: 2.625,
    10: 3,
    11: 4,
    12: 4.5,
) !default;

//spacing
$baseSpace: 16px;
$spaceTypes: (
    0: 0,
    1: .25,
    2: .5,
    3: .625,
    4: .75,
    5: 1,
    6: 1.25,
    7: 1.5,
    8: 1.75,
    9: 2,
    10: 2.25,
    11: 2.5,
    12: 2.625,
    13: 3,
    14: 3.75,
    15: 4,
    16: 4.5,
    17: 5,
) !default;

//grids
$gutter-width: 30px;
$grid-sum: 12;

$grid-sm: 375px;
$grid-md: 768px; //mobile
$grid-lg: 992px; //ipad
$grid-xl: 1920px;

$grid-breakpoints: (
    '': false,
    sm: 375px,
    md: 768px,
    lg: 992px,
    xl: 1920px,
);