//variables
@import "variables";

//font style & css reset
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); //英文
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');//中文
@import "reset";

//utils
@import "utils/grid";
@import "utils/display";
@import "utils/font";
@import "utils/spacing";
@import "utils/background";
@import "utils/border";

//components
@import "components/layout";

//pages