.header {
  background: $primary;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  @media (min-width: $grid-md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 39px;
  }
  @media (min-width: $grid-lg) {
    padding: 30px 88px;
  }
  &-logo {
    width: 48px;
    height: 29.14px;
    background-image: url("https://github.com/vvvvvvii/layout-practice/blob/main/day06/img/logo-new_%E5%B7%A5%E4%BD%9C%E5%8D%80%E5%9F%9F%201.png?raw=true");
    background-size: cover;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto 10px;
    @media (min-width: $grid-md) {
      margin: 0;
      width: 80px;
      height: 48.57px;
    }
  }
  &-nav {
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    width: 50%;
    border: 1px solid $light;
    @media (min-width: $grid-md) {
      width: auto;
      border: 0px;
    }
  }
  &-link {
    display: block;
    padding: 8px 0;
    text-align: center;
  }
}
.footer {
  background: $primary;
  padding-top: 36px;
  padding-bottom: 28px;
  &-logo {
    width: 46px;
    height: 27.93px;
    @media (min-width: $grid-lg) {
      width: 80px;
      height: 48.57px;
    }
  }
  &-nav {
    display: none;
    @media (min-width: $grid-md) {
      display: flex;
      margin-bottom: 24px;
    }
    @media (min-width: $grid-lg) {
      margin-bottom: 20px;
    }
    &-link {
      @media (min-width: $grid-lg) {
        display: block;
        padding: 13px 0;
      }
    }
  }
  &-link {
    margin-left: 4px;
    @media (min-width: $grid-md) {
      font-size: 20px;
      margin-left: 12px;
    }
    @media (min-width: $grid-lg) {
      font-size: 36px;
      margin-left: 16px;
    }
  }
}
.icon {
  width: 24px;
  height: 24px;
  @media (min-width: $grid-lg) {
    width: 48px;
    height: 48px;
  }
  &-phone {
    width: 20px;
    height: 20px;
    @media (min-width: $grid-md) {
      width: 24px;
      height: 24px;
    }
    @media (min-width: $grid-lg) {
      width: 44px;
      height: 44px;
    }
  }
  &-email {
    width: 20px;
    height: 20px;
    @media (min-width: $grid-md) {
      width: 32px;
      height: 32px;
    }
    @media (min-width: $grid-lg) {
      width: 48px;
      height: 48px;
    }
  }
}
.section {
  padding: 64px 0 80px;
  &-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    @media (min-width: $grid-md) {
      font-size: 32px;
      margin-bottom: 32px;
    }
    @media (min-width: $grid-lg) {
      font-size: 48px;
      margin-bottom: 60px;
    }
  }
  &-link:hover {
    opacity: 0.8;
  }
  &-icon {
    color: $light;
    font-size: 32px;
    @media (min-width: $grid-lg) {
      color: $primary;
      font-size: 48px;
    }
  }
}
.block {
  margin-bottom: 40px;
  @media (min-width: $grid-lg) {
    margin-bottom: 0;
  }
  &-img {
    font-size: 80px;
    color: $dark-primary;
    margin-bottom: 16px;
    @media (min-width: $grid-lg) {
      font-size: 100px;
      margin-bottom: 40px;
    }
  }
  &-title {
    font-size: 20px;
    font-weight: bold;
    color: $dark-primary;
    text-align: center;
    margin-bottom: 8px;
    @media (min-width: $grid-lg) {
      font-size: 24px;
      margin-bottom: 4px;
    }
  }
  &-paragraph {
    width: 237px;
    margin: 0 auto;
    @media (min-width: $grid-lg) {
      width: 208px;
    }
  }
}
.card {
  &-img {
    width: auto;
    height: 256px;
  }
  &-main {
    border-bottom: 1px #dee2e6 solid;
    border-left: 1px #dee2e6 solid;
    border-right: 1px #dee2e6 solid;
    padding: 16px;
    @media (min-width: $grid-md) {
      padding: 14px 16px;
    }
  }
  &-title,
  &-paragraph {
    margin-bottom: 16px;
    @media (min-width: $grid-lg) {
      padding: 8px;
    }
  }
  &-title,
  &-info {
    font-size: 14px;
  }
  &-info {
    color: #707070;
  }
}
.form {
  &-label {
    margin-bottom: 4px;
  }
  &-input {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding: 8px 12px;
    @media (min-width: $grid-lg) {
      margin-bottom: 16px;
      padding: 14px 16px;
    }
  }
}
