.btn{
    display: inline-block;
    border: 2px solid $light;
    padding: 10px 20px;
    font-size: 0.8rem;
    &:hover{
        color: $secondary;
        border: 2px solid $secondary;
        cursor: pointer;
    }
}