body{
	color: $light;
}
a{
	color: $light;
	&:hover{
		color: $secondary;
	}
}
.no-hover-color:hover{
	color: $light;
}
.bg-primary{
    background: $primary;
}

.text-primary{
    color: $primary;
}
.text-light{
    color: $light;
}