.container{
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
    width: 100%;
    max-width: 1140px;
}
.container-fluid{
    margin:0;
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -24px;
    margin-left: -24px;
}
.no-gutters{
    margin-right: 0;
    margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}
.col,.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11{
    padding-right: 24px;
    padding-left: 24px;
}
.col{
    width: inherit;
    &-1{
        width: calc(100%/12);
    }
    &-2{
        width: calc(2*100%/12);
    }
    &-3{
        width: calc(3*100%/12);
    }
    &-4{
        width: calc(4*100%/12);
    }
    &-5{
        width: calc(5*100%/12);
    }
    &-6{
        width: calc(6*100%/12);
    }
    &-7{
        width: calc(7*100%/12);
    }
    &-8{
        width: calc(8*100%/12);
    }
    &-9{
        width: calc(9*100%/12);
    }
    &-10{
        width: calc(10*100%/12);
    }
    &-11{
        width: calc(11*100%/12);
    }
}
.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}
.w-40{
    width: 40%;
}
.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}

.d-block{
    display: block;
}
.d-inline-block{
    display: inline-block;
}