.container{
    padding-left: 60px;
    padding-right: 60px;
}
.row{
    display: flex;
}
.col{
    width: inherit;
    &-1{
        width: calc(100%/12);
    }
    &-2{
        width: calc(2*100%/12);
    }
    &-3{
        width: calc(3*100%/12);
    }
    &-4{
        width: calc(4*100%/12);
    }
    &-5{
        width: calc(5*100%/12);
    }
    &-6{
        width: calc(6*100%/12);
    }
    &-7{
        width: calc(7*100%/12);
    }
    &-8{
        width: calc(8*100%/12);
    }
    &-9{
        width: calc(9*100%/12);
    }
    &-10{
        width: calc(10*100%/12);
    }
    &-11{
        width: calc(11*100%/12);
    }
}

.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}

.d-inline-block{
    display: inline-block;
}