.header{
    padding: 40px 24px 160px 24px;
    background-image: url('https://github.com/vvvvvvii/layout-practice/blob/main/day01/img/bozhin-karaivanov-3HnVKfQZGTQ-unsplash.jpg?raw=true');
    background-position: 50% 45%;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo{
    &:hover{
        color: $secondary;
    }
    &-box{
        padding: 6px 3px;
        background: $light;
        &:hover{
            background-color: $secondary;
        }
    }
}
.bg-aliquam,.bg-tempus,.bg-magna,.bg-ipsum,.bg-consequat,.bg-etaima{
    padding: 120px 48px 120px 48px; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
    &:hover{
        opacity: 1;
    }
}
.bg-aliquam{
    background-image: url('https://github.com/vvvvvvii/layout-practice/blob/main/day01/img/danika-perkinson-QxHJ9lkXYNk-unsplash.jpg?raw=true');
}
.bg-tempus{
    background-image: url('https://github.com/vvvvvvii/layout-practice/blob/main/day01/img/cristina-gottardi-wVTGdIGdojc-unsplash.jpg?raw=true');
}
.bg-magna{
    background-image: url("https://github.com/vvvvvvii/layout-practice/blob/main/day01/img/echo-grid-GMgdINYCA3w-unsplash.jpg?raw=true");
}
.bg-ipsum{
    background-image: url("https://github.com/vvvvvvii/layout-practice/blob/main/day01/img/sam-moqadam-LOUhsrJbs0w-unsplash.jpg?raw=true");
}
.bg-consequat{
    background-image: url('https://github.com/vvvvvvii/layout-practice/blob/main/day01/img/presetbase-lightroom-presets-QN6NkYi3CKs-unsplash.jpg?raw=true');
}
.bg-etaima{
    background-image: url('https://github.com/vvvvvvii/layout-practice/blob/main/day01/img/zach-taiji-9z3PSK4sn1c-unsplash.jpg?raw=true');
}
.info{
    padding: 80px 0 40px 0;
    background: linear-gradient(#f14242,$primary),;
}
.footer{
    padding: 40px 0;
}