.header{
    padding: 40px 24px 60px 24px;
    background-image: url('https://images.unsplash.com/photo-1503437313881-503a91226402?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2389&q=80');
    background-position: 50% 45%;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo{
    &:hover{
        color: $secondary;
    }
    &-box{
        padding: 6px 3px;
        background: $light;
        &:hover{
            background-color: $secondary;
        }
    }
}
.product{
    background: #b15656;
}
.bg-aliquam,.bg-tempus,.bg-magna,.bg-ipsum,.bg-consequat,.bg-etaima{
    padding: 120px 48px 120px 48px; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
    &:hover{
        opacity: 1;
    }
}
.bg-aliquam{
    background-image: url('https://github.com/vvvvvvii/layout-practice/blob/main/day01/img/danika-perkinson-QxHJ9lkXYNk-unsplash.jpg?raw=true');
}
.bg-tempus{
    background-image: url('https://github.com/vvvvvvii/layout-practice/blob/main/day01/img/cristina-gottardi-wVTGdIGdojc-unsplash.jpg?raw=true');
}
.bg-magna{
    background-image: url('https://github.com/vvvvvvii/layout-practice/blob/main/day01/img/brooke-lark-kXQ3J7_2fpc-unsplash.jpg?raw=true');
}
.bg-ipsum{
    background-image: url('https://github.com/vvvvvvii/layout-practice/blob/main/day01/img/gautam-arora-dCnHbVhM2w8-unsplash.jpg?raw=true');
}
.bg-consequat{
    background-image: url('https://github.com/vvvvvvii/layout-practice/blob/main/day01/img/presetbase-lightroom-presets-QN6NkYi3CKs-unsplash.jpg?raw=true');
}
.bg-etaima{
    background-image: url('https://github.com/vvvvvvii/layout-practice/blob/main/day01/img/zach-taiji-9z3PSK4sn1c-unsplash.jpg?raw=true');
}
