.header{
    padding: 40px 24px 60px 24px;
    background-image: url('https://images.unsplash.com/photo-1503437313881-503a91226402?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2389&q=80');
    background-position: 50% 45%;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo{
    &:hover{
        color: $secondary;
    }
    &-box{
        padding: 6px 3px;
        background: $light;
        &:hover{
            background-color: $secondary;
        }
    }
}
.bg-aliquam,bg-tempus{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-aliquam{
    background-image: url('');
}