.pr-1{
    padding-right: 1rem;
}
.pl{
    &-1{
        padding-left: 1rem;
    }
    &-2{
        padding-left: 1.5rem;
    }
    &-3{
        padding-left: 2rem;
    }
    &-4{
        padding-left: 3rem;
    }
    &-5{
        padding-left: 3.25rem;
    }
    &-6{
        padding-left: 4rem;
    }
}
.pt-1{
    padding-top: 1rem;
}
.pb{
    &-1{
        padding-bottom: 1rem;
    }
    &-2{
        padding-bottom: 1.5rem;
    }
    &-3{
        padding-bottom: 2rem;
    }
    &-4{
        padding-bottom: 3rem;
    }
    &-5{
        padding-bottom: 3.25rem;
    }
    &-6{
        padding-bottom: 4rem;
    }
}
.ml{
    &-1{
        margin-left: 1rem;
    }
    &-2{
        margin-left: 1.5rem;
    }
    &-3{
        margin-left: 2rem;
    }
    &-4{
        margin-left: 3rem;
    }
    &-5{
        margin-left: 3.25rem;
    }
    &-6{
        margin-left: 4rem;
    }
}
.mb{
    &-1{
        margin-bottom: 1rem;
    }
    &-2{
        margin-bottom: 1.5rem;
    }
    &-3{
        margin-bottom: 2rem;
    }
    &-4{
        margin-bottom: 3rem;
    }
    &-5{
        margin-bottom: 3.25rem;
    }
    &-6{
        margin-bottom: 4rem;
    }
}