.p-1{
    padding: 8px;
}
.pr-1{
    padding-right: 8px;
}
.pl{
    &-1{
        padding-left: 8px;
    }
    &-2{
        padding-left: 12px;
    }
    &-3{
        padding-left: 16px;
    }
    &-4{
        padding-left: 20px;
    }
    &-5{
        padding-left: 24px;
    }
    &-6{
        padding-left: 30px;
    }
}
.pt-1{
    padding-top: 8px;
}
.pb{
    &-1{
        padding-bottom: 8px;
    }
    &-2{
        padding-bottom: 12px;
    }
    &-3{
        padding-bottom: 16px;
    }
    &-4{
        padding-bottom: 20px;
    }
    &-5{
        padding-bottom: 24px;
    }
    &-6{
        padding-bottom: 30px;
    }
}
.ml{
    &-1{
        margin-left: 8px;
    }
    &-2{
        margin-left: 12px;
    }
    &-3{
        margin-left: 16px;
    }
    &-4{
        margin-left: 20px;
    }
    &-5{
        margin-left: 24px;
    }
    &-6{
        margin-left: 30px;
    }
}
.mb{
    &-1{
        margin-bottom: 8px;
    }
    &-2{
        margin-bottom: 12px;
    }
    &-3{
        margin-bottom: 16px;
    }
    &-4{
        margin-bottom: 20px;
    }
    &-5{
        margin-bottom: 24px;
    }
    &-6{
        margin-bottom: 30px;
    }
}