$primary: #2a2f4a;
$secondary: #9bf1ff;
$light: #fff;

$font-size-base:              1rem !default; 
$h1-font-size:                $font-size-base * 3.25 !default;
$h2-font-size:                $font-size-base * 1.75 !default;
$h3-font-size:                $font-size-base * 1.35 !default;
$h4-font-size:                $font-size-base * 1 !default;
$h5-font-size:                $font-size-base * 0.8 !default;
$h6-font-size:                $font-size-base * 0.7 !default;


