
@each $name,$size in $spaceTypes{
    .mt-#{$name}{
        margin-top: $baseSpace * $size;
    }
    .mb-#{$name}{
        margin-bottom: $baseSpace * $size;
    }
    .ml-#{$name}{
        margin-left: $baseSpace * $size;
    }
    .mr-#{$name}{
        margin-right: $baseSpace * $size;
    }
    .mx-#{$name}{
        margin-left: $baseSpace * $size;
        margin-right: $baseSpace * $size;
    }
    .my-#{$name}{
        margin-top: $baseSpace * $size;
        margin-bottom: $baseSpace * $size;
    }
    .pt-#{$name}{
        padding-top: $baseSpace * $size;
    }
    .pb-#{$name}{
        padding-bottom: $baseSpace * $size;
    }
    .pl-#{$name}{
        padding-left: $baseSpace * $size;
    }
    .pr-#{$name}{
        padding-right: $baseSpace * $size;
    }
    .px-#{$name}{
        padding-left: $baseSpace * $size;
        padding-right: $baseSpace * $size;
    }
    .py-#{$name}{
        padding-top: $baseSpace * $size;
        padding-bottom: $baseSpace * $size;
    }
}